[Unit]
Description=newage gunicorn daemon
After=syslog.target
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/app1
ExecStart=/bin/bash /home/ubuntu/app1/configs/gunicorn_start.sh

[Install]
WantedBy=multi-user.target
